.Manager {
  padding: 10px;
  margin: 0px 0px;
  text-align: center;
}
.Title {
  font-size: 30pt;
}
.Total-Index {
  font-size: 24pt;
}
.Section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.Card {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.Card-Header {
  background-color: #dddddd;
}
.Index-Score::after {
  content: "%";
}

.DieSide{
  padding-left: 10px;
  padding-right: 10px;
  width: 10px;
}
